<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Esta pagina se esta construyendo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
  
  <div class="ion-text-center ion-margin-top" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 70vh;">
    <h2>¡Próximamente!</h2>
    <p>Estamos trabajando para que esta sección esté disponible pronto. ¡Gracias por tu paciencia!</p>
  </div>
</ion-content>
